<!DOCTYPE html>
{% include  'base_temp.html' %}
{% load static%}


<html>
<head>
    <link href="{% static 'css/skipquiz.css' %}" rel="stylesheet">
   
    <style>
        
        .footer {
        background-color: #343a40; 
        color: white; 
        padding: 10px 0;
        text-align: center;
        width: 100%;
        height: 49px;
        z-index: 1000;
    }
        .youtube-videos {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }
        
        .youtube-video {
            flex: 0 0 calc(50% - 20px); /* Adjust width as needed */
            margin-bottom: 20px;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            background-color: #fff;
            overflow: hidden;
        }
        
        .youtube-video iframe {
            width: 100%;
            height: 200px; /* Adjust height as needed */
        }
        
        .video-info {
            margin-top: 10px;
        }
        
        .video-info p {
            margin: 5px 0;
        }

        .select-course-button {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 15px;
            border-radius: 5px;
            cursor: pointer;
        }
        
    </style>
    <script type="text/javascript">
        function preback() {
          window.history.forward();
        }
        setTimeout("preback()", 0);
        window.onunload=function() {null};
    </script>

</head>
<body>
    <div class="container" style="margin-top: 120px;">

    

        <div id="dynamicPopup" class="modal" style="display: none;">
            <div class="modal-content" style="width: 366px;">
                <span class="modal-close" onclick="closeDynamicPopup()">&times;</span>
                <div id="dynamicPopupContent"></div>
            </div>
        </div>

        <div class="row  ">
            <div class="col-md-1  pt-4">
                <button class="home-button" onclick="redirectToHome()">Home</button>
            </div>

            <div class="col-md-5  pt-3">
                <h2 class="display-6">Recommendations</h2>
            </div>

            <div class="col-md-5 pt-6 ">
                <div class="logout-home-container">
                    <button class="logout-button" onclick="openModal()">Logout</button>
                </div>

                <div id="myModal" class="modal">
                    <div class="modal-content" style="width: 366PX;">
                        <span class="modal-close" onclick="closeModal()">&times;</span>
                        <p>Are you sure you want to logout?</p>
                        <div class="modal-buttons">
                            <button onclick="logout()">Yes</button>
                            <button onclick="closeModal()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function openModal() {
                document.getElementById("myModal").style.display = "block";
            }

            function closeModal() {
                document.getElementById("myModal").style.display = "none";
            }

            function logout() {
                console.log("Logout function called.")
                window.location.href = "{% url 'dashboard:logout' %}";
            }

        </script>
        <div class="container-fluid mt-5 bg-light">
            <div class="row   " style="height: 100%;">
                <div class="col-md-9  pt-3">
                    <div class="recommendations">

                        <h6>As you have skipped the quiz, we are recommending you all level of courses. These are the best in-house courses we have.
                        <h6>Happy learning!!!!!</h6> 
                            <hr>
                        </h6>
                        <h2>Udemy Recommendations</h2>
                        {% for suggestion in suggestions %}
                        <div class="course">
                            <u>
                                <div class="course-type">Paid Course: Yes</div>
                            </u>
                            <u>
                                <div class="course-level">
                                    Course Level:
                                    {% if suggestion.difficulty == "BG" %}
                                    Beginner
                                    {% elif suggestion.difficulty == "IN" %}
                                    Intermediate
                                    {% elif suggestion.difficulty == "AD" %}
                                    Advanced
                                    {% else %}
                                    {{ suggestion.difficulty }}
                                    {% endif %}
                                </div>
                            </u>
                            <div class="course-name">Course name: {{ suggestion.course_name }}</div>
                            <div class="course-rating">Course Ratings: {{ suggestion.ratings }}</div>
                            <div class="course-instructor">Course Instructor: {{ suggestion.course_instructor }}</div>
                            <div class="course-duration">Course Duration: {{ suggestion.course_duration }} hours</div>
                            <div class="course-link">
                                <button class="enroll-button" onclick="openPopup(this)"
                                    data-suggested="{{ suggestion.course_url }}">Enroll this course</button>
                            </div>
                            <hr><br>
                        </div>
                        {% endfor %}

                        <h2>YouTube Recommendations</h2>
                        <div class="youtube-videos">
                            {% for video_id, video_title, video_difficulty in video_data %}
                            <div class="youtube-video">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video_id }}" frameborder="0" allowfullscreen></iframe>
                                <div class="video-info">
                                    <p>Title: {{ video_title }}</p>
                                    <p>Difficulty:
                                        {% if video_difficulty == "BG" %}
                                            Beginner
                                        {% elif video_difficulty == "IN" %}
                                            Intermediate
                                        {% elif video_difficulty == "AD" %}
                                            Advanced
                                        {% else %}
                                            {{ video_difficulty }}
                                        {% endif %}
                                    </p>
                                </div>
                                <button class="select-course-button" onclick="showDynamicPopup(this)"
                                    data-course-title="{{ video_title }}" data-youtube-id="{{ video_id }}" data-selected-category="{{ selected_category }}">Select this course
                                </button>

                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div id="popupModal" class="modal">
                        <div class="modal-content" style="width: 366PX;">
                            <span class="modal-close" onclick="closePopup()">&times;</span>
                            <p>Do you have Udemy credentials?</p>
                            <div class="modal-buttons">
                                <button onclick="redirectToUdemy()">Yes</button>
                                <button onclick="openkekapopup()">No</button>
                            </div>
                        </div>
                    </div>
                    <div id="popupModalkeka" class="modal">
                        <div class="modal-content" style="width: 366PX;">
                            <span class="modal-close" onclick="closekekaPopup()">&times;</span>
                            <p>You need to raise a ticket in Keka.</p>
                            <div class="modal-buttons">
                                <button onclick="redirectToKeka()">Keka</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 pt-3">
                    <img class="img-thumbnail rounded logo" src="{% static 'images/recommendation.png' %}" width="100%" />
                </div>
            </div>
        </div>
    </div>
    <script>
        function openPopup(clickedButton) {
            document.getElementById("popupModal").style.display = "block";
        }

        function closePopup() {
            document.getElementById("popupModal").style.display = "none";
        }

        function openkekapopup(){
            document.getElementById("popupModalkeka").style.display = "block";
            document.getElementById("popupModal").style.display = "none";
        }

        function closekekaPopup() {
            document.getElementById("popupModalkeka").style.display = "none";
        }

        function redirectToUdemy() {
            // Redirect to Udemy login page
            const enrollButton = document.querySelector('.enroll-button');
            const suggestedUrl = enrollButton.getAttribute('data-suggested');
            const loginUrl = "https://www.udemy.com/join/login-popup/?locale=en_US&response_type=html&next=";
            const udemyUrl = `${loginUrl}${encodeURIComponent(suggestedUrl)}`;
            // closing opened popup
            document.getElementById("popupModal").style.display = "none";
            // Open the Udemy login page in the same tab
            window.open(udemyUrl);
            // Clear session storage when the user tries to navigate away from the page
            window.addEventListener('beforeunload', () => {
                sessionStorage.clear();
            });
        }

        function redirectToKeka() {
            // Logout logic
            sessionStorage.clear();
            // Redirect to Keka after logout
            // closing the popup
            document.getElementById("popupModalkeka").style.display = "none";
            const kekaUrl = "https://letmecall.keka.com/#/me/helpdesk/mytickets";
            window.open(kekaUrl);
        }

        function redirectToHome() {
            const currentHost = window.location.host;
            const url = 'http://' + currentHost + '/validate/dashboard';
            window.location.replace(url);
        }

        function showDynamicPopup(clickedButton) {
            const youtubeId = clickedButton.getAttribute('data-youtube-id');
            const selectedCategory = clickedButton.getAttribute('data-selected-category');
            const courseTitle = clickedButton.getAttribute('data-course-title');

            console.log('a',selectedCategory)
            console.log('b',youtubeId)
            
            const dynamicPopupContent = `
                <p>Do you want to select the course "${courseTitle}"?</p>
                <button onclick="saveCourseSelection('${youtubeId}', '${selectedCategory}')">Yes</button>
                <button onclick="closeDynamicPopup()">No</button>
            `;
            
            openDynamicPopup(dynamicPopupContent);
        }
        
        function openDynamicPopup(content) {
            const dynamicPopup = document.getElementById('dynamicPopup');
            const dynamicPopupContent = document.getElementById('dynamicPopupContent');
            
            dynamicPopupContent.innerHTML = content;
            dynamicPopup.style.display = 'block';
        }
        
        function closeDynamicPopup() {
            const dynamicPopup = document.getElementById('dynamicPopup');
            dynamicPopup.style.display = 'none';
        }
        
        function saveCourseSelection(youtubeId, selectedCategory) {
            const data = {
                current_time: 0, // Set the initial time as needed
                youtube_id: youtubeId,
                percentage: 0, // Set the initial percentage as needed
                selectedcategory: selectedCategory,
                quiz_not: 0

            };

            console.log('data',data)

            fetch('/home/save_time', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')
                },

                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                console.log(data.message);
                closeDynamicPopup(); // Close the dynamic pop-up after saving
                
                const dashboardMylearningUrl = '/mylearning/';
                window.location.href = dashboardMylearningUrl;
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Check if this cookie contains the name we want
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        history.scrollRestoration = "manual";

$(window).on('beforeunload', function(){
      $(window).scrollTop(0);
});

    </script>
     <script type="text/javascript">
        function preback() {
          window.history.forward();
        }
        setTimeout("preback()", 0);
        window.onunload=function() {null};
    </script>
    <div class="footer">
        &copy; 2023 SwitchTech. All rights reserved.
    </div>
</body>
</html>